# Site settings
title: whiskers.cat
baseurl: ""
deployurl: "https://whiskers.cat"

# The base url to run nimbella serverless apis
apiurl: "/api"

# Build settings
markdown: kramdown
permalink: /:title
